  *{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  font,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    scroll-behavior: smooth;
    scroll-padding-top: 10rem;
    list-style: none;
  }
  
  html {
    font-size: 62.5%;
    height: 100%;
  }
  
  body {
    color: #2b2b2b;
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    overflow-x: hidden;
    line-height: 1.4;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  article,
  aside,
  footer,
  header,
  nav,
  section,
  time {
    display: block;
  }
  
  a {
    text-decoration: none;
  }
  img {
    max-width: 100%;
  }

  /* grid */
  .container{
    max-width:120rem;
    margin:0 auto;
    padding: 1.5rem;
  }

  /* header */
  .header{
    background:#2b2b2b;
    position:fixed;
    width:100%;
  }
  .header .branding h3{
    color:#ffffff;
    font-size: 2.5rem;
    font-weight: 600;
  }
  .header{
    background:#2b2b2b;
  }
  .header .branding h3 span{
    color: #ffa700;
  }
  .header .branding{
    display: flex;
    align-items: center;
    gap:2rem;
  }
.header .header__nav ul li a{
    color:#ffffff;
    font-size:1.8rem;
}
.header .header__nav ul{
    display: flex;
    align-items: center;
    gap:2.5rem;
}
.header .header__nav ul li:hover a{
    color:#ffa700;
}
.header .header__nav ul li:hover {
    scale:1.1;
    transition:.5s ease;
}
.header .header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .toggle__menu{
  display:none;
}
.header .toggle__menu span{
  width:3rem;
  height:.3rem;
  border-radius:5rem;
  background-color:#ffa700;
  display:block;
  transition:.5s ease;
}
.header .toggle__menu span:nth-child(2){
  margin:.5rem 0;
}
.header .toggle__menu.open span:first-child{
  transform:translateY(10px) rotate(225deg);
  transition:.5s ease;
}
.header .toggle__menu.open span:nth-child(2) {
  opacity:0;
}
.header .toggle__menu.open span:last-child{
  transform:translateY(-7px) rotate(-225deg);
  transition:.5s ease;
}
.header .header__nav.open{
  right:0rem;
  transition:.5s ease;

}
/* header mobie view */
@media screen and (max-width:500px){
  .header .header__nav{
    background:#2b2b2b;
    position:absolute;
    right:-100rem;
    top:10.3rem;
    width:100%;
    height:100vh;
    padding-top:10rem;
    transition:.5s ease;
  }
  .header .header__nav ul{
    display:flex;
    flex-direction:column;
  }
.header .brading img{
  width:5rem;
}
.header .toggle__menu{
  display:block;
}
}
/* banner */
.banner{
  padding-top: 13rem;
  padding-bottom: 10rem;
  background:#ffffff;
}
.banner .banner__wrapper{
  display:grid;
  grid-template-columns:1fr 1fr;
  align-items: center;
  gap:5rem;
}
.banner .banner__text h1{
  font-size:10rem;
  font-weight:800;
  color:#ffa700;
  line-height:1;
}
.banner .banner__text p{
  margin-top:5rem;
  margin-bottom:3rem;
  text-align:justify;
}
@media screen and (max-width:500px){
  .banner{
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .banner .banner__wrapper{
    display:grid;
    grid-template-columns: 1fr;
  }
  .banner .banner__text{
    order:2;
  }
  .banner .banner__text h1{
    font-size:3rem;
    text-align:center;
  }
  .banner .banner__text a{
    display:flex;
    width:fit-content;
    margin: 0 auto;
  }
  .banner img{
    width:20rem;
    margin:0 auto;
  }
}
/* srvc */
.srvc{
  background:#2b2b2b;
  padding:5rem 0;
}
.srvc .srvc__wrapper{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap:8rem;
}
.srvc .srvc__card{
  text-align: center;
}
.srvc .srvc__card i{
  color:#ffa700;
  font-size: 5rem;
}
.srvc .srvc__card h4{
  color:#ffa700;
  font-size:1.8rem;
  font-weight: 600;
  margin:2rem 0;
}
.srvc .srvc__card p{
color:#ffffff;
margin-bottom: 5rem;
text-align: justify;
}
@media screen and (max-width:500px){
  .srvc .srvc__wrapper{
    display:grid;
    grid-template-columns:1fr ;
    margin:0 2rem;
    gap:15rem;
  }
}
/* LATEST */
.latest {
  background: #2b2b2b;
  padding: 5rem 0;
}
.latest .latest__wrapper{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap:5rem;
}
.latest .latest__title h2{
  color: #ffa700;
  font-size: 5rem;
  font-weight: 600;
}
.latest .latest__title p{
  color: #ffffff;
  font-size: 2.5rem;
}
.latest .latest__title{
  margin-bottom: 8rem;
}
.latest .latest__card{
  background:#ffffff;
  border-radius: 2rem;
}
.latest .latest__text{
  padding:1.5rem 2rem;
}
.latest .latest__text h4{
  color:#ffa700;
  font-weight: 600;
}.latest .latest__text p{
  margin-top: 2rem;
  margin-bottom: 4rem;
}
.latest .latest__text a{
  color:#ffa700;
}
@media screen and (max-width:500px){
  .latest .latest__title{
    text-align: center;
  }
  .latest .latest__title h2{
    font-size:4rem;
  }
  .latest .latest__wrapper{
    display:grid;
    grid-template-columns: 1fr;
  }
  .latest .latest__card{
    margin:0 2rem;
  }
  .latest .latest__card img{
    width:100%;
  }
  }
/* FREE */
.free{
  background:#ffa700;
  padding: 5rem 0;
  
}
.free .free__wrapper{
  text-align: center;
}
.free .free__text h3{
  color:#2b2b2b;
  font-size:2.5rem;
  font-weight: 600;
}
.free .free__text p{
  color:#2b2b2b;
  font-size:1.7rem;
  padding-top: .5rem;
  padding-bottom: 5rem;
}
.free .free__text{
  text-align: center;
}
@media screen and (max-width:500px){
.free .free__text{ 
  text-align: center;
  padding-left:2rem;
}
.free .free__text p{
  padding-top:1rem;
}
}
/* FOOTER SECTIOON*/
.footer {
  background: #2b2b2b;
  width: 100%;
}
.footer .footer__wrapper {
  display: flex;
  justify-content: space-between;
}
.footer .footer__social {
  display: flex;
  flex-direction: row;
}
.footer .footer__wrapper ul li a {
  color: dimgray;
  font-size: 2.5rem;
}
.footer .footer__wrapper ul {
  display: flex;
  gap: 1.25rem;
}
.footer p {
  color: dimgray;
  display: flex;
  align-items: center;
}

/* FOOTER MV */
@media screen and (max-width:500px){
.footer .footer__wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
}
.footer .footer__social ul{
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}
}

/* repeatable patern */
.btn{
  display:inline-block;
  padding: 2rem 3rem;
  border-radius: 5rem;
  color: #ffffff;
}
.btn:hover{
  scale:1.1;
}
.btn.bg--primary{
  background:#ffa700;
}
.btn.bg--dark{
  background: #2b2b2b;
  color: #ffffff;
}
/* aboutme */
.aboutme{
  padding-top: 10rem;
}
.aboutme .aboutme__wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-direction: row-reverse;
  align-items: center;
  gap: 5rem;
}
.aboutme .aboutme__wrapper > :nth-child(1){
  order: 2;
}
.aboutme .aboutme__wrapper > :nth-child(2){
  order: 1;
}
.aboutme .aboutme__text h5{
  font-size: 2.5rem;
  font-weight: bold;
  color: #ffa700;
  line-height: 1;
}
.aboutme .aboutme__text p{
  margin-top: 5rem;
  margin-bottom: 3rem;
  text-align: justify;
}
/* mobile view */
.aboutme{
  padding-top: 13rem;
  padding-bottom: 10rem;
  background:#ffffff;
}
.aboutme .aboutme__wrapper{
  display:grid;
  grid-template-columns:1fr 1fr;
  align-items: center;
  gap:5rem;
}
@media screen and (max-width:500px){
  .aboutme{
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .aboutme .aboutme__wrapper{
    display:grid;
    grid-template-columns: 1fr;
  }
  .aboutme .aboutme__text{
    order:2;
  }
  .aboutme .aboutme__text h5{
    font-size:2.5rem;
    text-align:center;

  }
  .aboutme img{
    width:20rem;
    margin:0 auto;
  }
}

/* about.page */
.bannerp{
  padding-top: 13rem;
  padding-bottom: 10rem;
  background:#ffffff;
}
.bannerp .bannerp__wrapper{
  display:grid;
  grid-template-columns:1fr 1fr;
  align-items: center;
  gap:5rem;
}
.bannerp .bannerp__text h1{
  font-size:8rem;
  font-weight:800;
  color:#ffa700;
  line-height:1;
}
.bannerp .bannerp__text p{
  margin-top:5rem;
  margin-bottom:3rem;
  margin-right: 9rem;
  text-align:justify;
}
.bannerp .bannerp__social{
  display: flex;
  flex-direction: row;
  padding: 2.5rem;
  gap: 5rem;
}
.bannerp .bannerp__wrapper ul {
  display: flex;
  gap: 1.25rem;
}
.bannerp .bannerp__wrapper i{
color: #ffa700;
display: flex;
justify-content: flex-end;
font-size:3.5rem;
}
.bannerp .arrow {
  color: #ffa700;
  font-size:3.5rem;
  display: flex;
  justify-items: center;
  justify-content: center;
}
@media screen and (max-width:500px){
  .banner{
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .bannerp .bannerp__wrapper{
    display:flex;
    flex-direction: column;
  }
  .bannerp .bannerp__text{
    order:2;
  }
  .bannerp .bannerp__text h1{
    font-size:3rem;
    text-align:center;
  }
  .bannerp .bannerp__text a{
    display:flex;
    width:fit-content;
    margin: 0 auto;
  }
  .bannerp img{
    width:20rem;
  }
.bannerp .bannerp__text p{
  text-align:justify;
  margin-left: 2rem;
  margin-right: 2rem;
}
.bannerp .bannerp__text h4{
  text-align: center;
  padding-bottom: 2rem;
}
.bannerp .bannerp__social{
  justify-content: center;
}
 }
/* about latest */
.latestp {
  background: #2b2b2b;
  padding: 5rem 0;
}
.latestp .latestp__wrapper {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap:5rem;
}
.latestp .latestp__title h2 {
  color: #ffa700;
  font-size: 5rem;
  font-weight: 600;
}
.latestp .latestp__title p {
  color: #ffffff;
  font-size: 2.5rem;
}
.latestp .latestp__title {
  margin-bottom: 8rem;
}
.latestp .latestp__card {
  background:#ffffff;
  border-radius: 2rem;
}
.latestp .latestp__text {
  padding:1.5rem 2rem;
}
.latestp .latestp__text h4 {
  color:#ffa700;
  font-weight: 700;
}
.latestp .latestp__text p {
  margin-top: 2rem;
  margin-bottom: 4rem;
}
.latestp .latestp__text a{
  color:#ffa700;
}
@media screen and (max-width:500px){
  .latestp .latestp__title{
    text-align: center;
  }
  .latestp .latestp__title h2{
    font-size:4rem;
  }
  .latestp .latestp__wrapper{
    display:grid;
    grid-template-columns: 1fr;
  }
  .latestp .latestp__card{
    margin:0 2rem;
  }
  .latestp .latestp__card img{
    width:100%;
  }
}


/* SRVC.PAGE */
.srvcb{
  padding-top: 13rem;
  padding-bottom: 10rem;
  padding-left:30rem;
  padding-right: 30rem;
  background:#2b2b2b;
  justify-items: center;
}

.srvcb .srvcb__text h1{
  font-size:4rem;
  font-weight:650;
  color:#ffa700;
  line-height:1;
}
.srvcb .srvcb__text p{
  margin-top:5rem;
  margin-bottom:3rem;
  text-align:justify;
  color: #ffffff;
}
.srvcb .srvcb__text h4{
font-size:1.8rem;
padding-top: 4rem;
color: #ffffff;
}
.srvcb .srvcb__text h2{
  color: #ffa700;
  font-size: 3rem;
  font-weight: 600;
}
.srvcb .srvcb__text h6{
  font-size: .8rem;
  color: #ffffff;
}
.srvcb .arrow {
  color: #ffa700;
  font-size:3.5rem;
  display: flex;
  justify-items: center;
  justify-content: center;
  padding-top: 5rem;
}
.srvcb .srvcb__wrapper{
  display: flex;
  align-items: center;
  gap: 5rem;
}

.srvcb:nth-child(even) .srvcb__wrapper{
  flex-direction: row;
}

.srvcb:nth-child(even){
  background-color: #ffffff;
}
.srvcb:nth-child(even) .srvcb__text{
  padding-right: 15rem;
}
.srvcb:nth-child(even) .srvcb__text p{
  color:#2b2b2b;
}
.srvcb:nth-child(even) .srvcb__text h4{
  color: #2b2b2b;
}
.srvcb:nth-child(even) .srvcb__text h6{
  color: #2b2b2b ;
}
.srvcb:nth-child(odd) .srvcb__wrapper{
  flex-direction: row-reverse;
}
.srvcb:nth-child(odd) .srvcb__text{
 padding-left: 15rem;
}
.srvcb:last-child .arrow{
display: none;
}

/* UPDATE */

  
  /* Main Content */
  .box{
    display: grid;
    grid-template-columns: 2.5fr 1.5fr;
  }
  .main-content {
    flex: 2;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding-top:20rem
  }
  
  .main-content h1 {
    font-size: 4rem;
    color:#ffa700;
    margin-bottom: 10px;
    font-weight: 780;
  }
  
  .main-content p {
    margin-bottom: 6rem;
  
  }
  
  .post {
    margin-bottom: 30px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
  }
  /* Styling for the post information container */
.post-info {
  display: flex;
  align-items: center;
  gap: 20px; /* Space between items */
  font-size: 14px;
  color: #333; /* Dark text color */
  padding: 10px 20px;
}

/* Each item (author, date, tag) */
.post-info span {
  display: flex;
  align-items: center;
  gap: 5px; /* Space between icon and text */
}

/* Icons styling */
.post-info span i {
  font-size: 16px;
    color:#2b2b2b; 
    text-decoration: bold;
}
  
  .post img {
    max-width: 100%;
    border-radius: 5px;
  }
  
.post-title {
    font-size: 25px;
    color: #ffa700;
    margin-bottom: 3rem;
  }
  
  .post-meta {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
  }
  
  .post a {
    text-decoration: none;
    color: #ffa700;
    padding-bottom: 5rem;
  }
  
  .post a:hover {
    text-decoration: underline;
    padding-top: 3rem;
  }
  
  /* Sidebar */
  .sidebar {
    flex: 1;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px #2b2b2b(0, 0, 0, 0.1);
    padding-top: 30rem;
  }
  
  /* Title styling */
.recent-post h2 {
    color:#ffa700;
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  /* Post items */
  .post-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5rem
  }
  .post-item h3{
    text-decoration: bold;
  }
  .post-item img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 15px;
    border-radius: 4px;
  }
  
  .post-item-content {
    flex: 1;
  }
  
  /* Post title */
  .post-item-content h3 {
    font-size: 14px;
    margin: 0;
    color: #333;
  }
  
  .post-item-content h3:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  .recent-post{
    padding-top:10rem
  }
  /* Post date */
  .post-item-content p {
    margin: 5px 0 0;
    font-size: 12px;
    color: #888;
  }
  .categories{
    padding-bottom: 6rem;
  }
  .categories h3 {
        color: #ffa700;
        font-size: 2rem;
        margin-bottom: 2rem;
        text-transform: uppercase;
        font-weight: bold;
        padding-bottom: 2rem;
        padding-top: 4rem;
    }
    
    .categories ul {
        list-style: none;
        padding: 0;
        margin: 0;
        font-size: 2rem;
    }
    
    .categories li {
        display: flex;
        justify-content: space-between;
        padding: 5px 0;
        border-bottom: 1px;
  }
    
    .categories li:last-child {
        border-bottom: none;
    }
  
    .categories li span {
      color: #333;
        font-size: 14px;
    }
  
  .categories li,
  .recent-posts li {
    margin-bottom: 10px;
    font-size: 16px;
  }
  .sidebar .recent-posts {
    padding-top: 25rem;
  }
  .sidebar .tags h2{
    padding-top:7rem;
    padding-bottom: 2rem;
    color:#ffa700;
    font-weight: bold;
  }
  .tags span {
    display: inline-block;
    background: #f4f4f4;
    margin: 5px;
    padding: 12px 16px;
    border-radius: 20px;
    font-size: 14px;
    color: #2b2b2b ;
    cursor: pointer;
    
  }
  .tags span:hover {
  background: #2b2b2b;
    color: #ffffff;
    background-color: #2b2b2b;
  }
  .tags{
    padding-top: 3rem;
    
  }
  
  /* contact */
  .contact-section {
    font-size: 12px;
    color: #ffffff;
    background-color: #2b2b2b;
  }
.contact-section h1{
  font-size: 4rem;
  font-weight: 600;
  color: #ffa700;
  margin-bottom: 5rem;
  padding-top: 13rem;
}

.contact-section p{
  margin-bottom: 5rem;
  max-width: 50rem;
}
.contact-info ul{
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.contact-info ul li{
  display: flex;
  align-items: center;
  gap: 2rem;
}
.contact-info ul li i{
color: #ffa700;
font-size: 2rem;
}
.contact-info{
  font-size: 12px;
}

/* form */
.contact-section .form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-section .contact__wrapper{
  display:grid;
  grid-template-columns: 1fr 1fr;
}
.form-container input,
.form-container textarea{
  width: 100%;
padding: 10px;
margin-bottom: 15px;
border: none;
border-radius: 5px;
background-color: #ffffff;
color: #ffffff;
font-size: 12px;
}
.contact-social ul {
  display: flex;
  margin-top: 5rem;
}
.contact-social i{
  color: #ffffff;
  padding:8px;
  font-size: 20px;
}
.form-container button{
  padding: 15px 20px;
  background-color: #ffa700;
  border: none;
  border-radius: 25px;
cursor: pointer;
color: #ffffff;
font-size: 16px;
}
.form-container button:hover{
  scale: 1.1;
}
